{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ApiKeys": {
    "Pexels": "5UleIw9qAMmk6Pouk7l7GeRh4jvXSCzN4WNA02cpPvGYsPFUdBYF4Jr2"
  },
  "Monobank": {
    "Token": "utxmCDpWXK2eHH2rQBaMjbi--uPIxg7UkU5WwoSStsFo"
  }
}
