@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Головна сторінка покупок для клієнта</h1>
    <p>Тут могла бути ваша реклама</a>.</p>
    <a href="/Home/Admin" style="display: inline-block; margin-top: 20px; padding: 12px 24px; background: #7000FF; color: white; text-decoration: none; border-radius: 4px; font-weight: bold;">Перейти до Адмін-панелі</a>
</div>